body {
  margin: 0;
  font-size: 50px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, #2d2e30, #030303);
}

.eglogo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eglogo-2 img {
  width: 21%;
}

.tagLine {
  transform: translateY(-15px);
  color: #ffa500;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#net {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #b61924; */
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  transform: translateY(15px);
  font-size: 30px;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #ffa500; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media screen and (max-width: 1230px) {
  body {
    font-size: 20px;
  }

  /* .eglogo {
        transform: translateY(-20px);
        height: 50%;
    } */

  .eglogo-2 img {
    width: 50%;
  }

  .tagLine {
    transform: translateY(-4px);
    font-size: 8px;
  }

  .typewriter h1 {
    transform: translateY(40px);
    font-size: 10px;
  }
}
